.main {
   width: 80%;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}
.heading {
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
}
.details_box {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
