.main {
   width: 80%;
   margin: auto;
   margin-top: 20px;
}
.heading {
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
}
.boxes {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
   margin-top: 20px;
}
.avg_box {
   padding: 10px;
   box-shadow: 0 0 20px 0 lightgray;
   margin: 10px;
}
