.main {
   display: flex;
   align-items: center;
   justify-content: center;
}
.text {
   background-color: rgb(144, 255, 134);
   padding: 20px;
   border-radius: 5px;
   margin-top: 20px;
}
@media screen and (max-width: 768px) {
   .text {
      font-size: 30px;
   }
}
@media screen and (max-width: 560px) {
   .text {
      font-size: 26px;
   }
}
@media screen and (max-width: 411px) {
   .text {
      font-size: 24px;
   }
}
@media screen and (max-width: 380px) {
   .text {
      font-size: 20px;
      padding: 10px;
   }
}
